<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="icon" type="image/x-icon" href="../Components/SVG/favicon-16x16.png">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/sidebar-room.css'>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <a href="./main.php"><img src="../Components/IMG/log.png" alt=""></a>
                </span>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="./main.php" class="dashboard">
                            <img src="../Components/SIDEBAR/graph.svg">
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="./select-register.php"class="register">
                            <img src="../Components/SIDEBAR/addsquare-room.svg">
                            <span class="text2 nav-text">Cadastro</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="./select-list.php"class="list">
                            <img src="../Components/SIDEBAR/layer-room.svg" >
                            <span class="text3 nav-text">Listagem</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="./index.php" class="logout">
                            <img src="../Components/SIDEBAR/logout.svg">
                            <span class="text4">Sair</span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>

    <script>
        const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");
        toggle.addEventListener("click" , () =>{
            sidebar.classList.toggle("close");
        })
        searchBtn.addEventListener("click" , () =>{
            sidebar.classList.remove("close");
        })

    </script>

</body>
</html>